body
{
background-color: pink;
background-size: cover;
}

.txt
{
width: 400px;
height: 25px;
border-radius: 6px;

}
.form{
     top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    padding-left: 200px;
    padding-right:200px;
}
.heading{
     top:0%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
}
.experience{
    text-align: center;
    size: 100px;
    position: ab;
}
   
