/*main html body*/
body{
    background: whitesmoke;
    margin: 0;
    padding: 0;
}

/*all fonts*/
html{
    font-size: 62.5%;
}
.header
{   
    background: pink;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    position:sticky;
    top: 0;
    left: 0;
}

/*website name*/
.heading{
    font-size: 35px; 
} 

/*unordered list*/
.navbar_list{
    display: flex;
    gap: 30px;;
    list-style-type:none;
}

/*list items*/
.navbar ul li{
    padding: 10px;
}
.navbar ul li:hover{
    background: lightsalmon;
}

/*list item text links*/
.navbar ul li a {
    color: black;
    font-size: large;
    text-decoration:none;
    font-size: 20px;
    font-weight:500;
    transition: all 0.3s;
}
.navbar ul li a:hover{
    color: brown;
}

/*searchbar*/
.navbar input{
    color: black;
    font-size: medium;
    border: 2px solid black;
    border-radius: 15px;
    padding-top:5px;
    width: 250px;
    text-align: center ;
}
.search{
    padding: 10px;
}


/*categories dropdown menu*/
.categories{
    display: none;
}
.categories ul{
    list-style-type: none;
    padding: 10px;
}

.navbar ul li:hover .categories{
    display: block;
    margin-top:14px;
 
    background: pink;
    position: absolute;
}
.navbar ul li:hover .categories ul{
    display:block;

}
.navbar ul li:hover .categories ul li{
    width: 95px;
    text-align: center;
    padding: 10px;
}

.categories ul li a:hover{
    color: brown;
}


/*profile drop down menu*/
.profile{
    display: none;
}
.profile ul{
    list-style-type: none;
    padding: 10px;
}

.navbar ul li:hover .profile{
    display: block;
    margin-top:14px;
    margin-left: -17px;
    background: pink;
    position: absolute;
}

.navbar ul li:hover .profile ul li{
    width: 95px;
    text-align: center;
    padding: 10px;
}

.profile ul li a:hover{
    color: brown;
}